@font-face {
  font-family: Red Hat;
  src: url("/public/fonts/RedHatMono.ttf");
}

body {
  font-family: "Red Hat", "Courier New", Courier, monospace;
  background-color: black;
}

h1 {
  font-size: 22px;
  text-align: center;
  font-weight: 100;
  margin: 0;
}

h2 {
  font-weight: 100;
  text-align: center;
  font-size: 20px;
}

h3 {
  font-weight: 100;
}

a {
  color: white;
  text-underline-offset: 5px;
}
a:hover {
  color: rgb(3, 254, 204);
}

#mc-embedded-subscribe#mc-embedded-subscribe {
  background-color: black;
  font-family: Red Hat;
  text-underline-offset: 5px;
  border: 1px solid white;
  border-radius: 0;
}
.triggerIMAGG:hover {
  opacity: 0.7;
}

#photo-grid {
  margin: auto;

  @media (min-width: 800px) {
    display: flex;
  }
}

nav {
  @media (min-width: 800px) {
    display: flex;
  }
}

#socials {
  display: none;

  @media (min-width: 800px) {
    display: block;
  }
}
#center-photo-grid {
  @media (min-width: 800px) {
    width: 33%;
  }
}

.team {
  border-radius: 10%;
}

#small-photo-grid {
  display: inline;
}

.video-grid {
  @media (min-width: 800px) {
    display: flex;
  }
}

.youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

a.anchor {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

p {
  line-height: 28px;
}
